.signup-form{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .submitButton{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }