.current-training{
    text-align: center;
    // width: 1000px;
    // margin: auto;
    // margin-left: 40rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
mat-progress-spinner{
    width: 500px;
    margin: auto;
}
// h1{
//     margin-left: 5rem;
// }
// button{
//     margin-left: 4rem;
// }
