.current-training{
    margin-left: 40rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
mat-progress-spinner{
    margin-left: 3rem;
}
h1{
    margin-left: 5rem;
}
button{
    margin-left: 4rem;
}
